p {
    font-size: 16px; 
}
/*footer, header {
    background-color: #333;
    color: white;
    text-align: center;
    margin: 0px; 
    vertical-align: central;
    width: 100%;
    padding: 10px;
}
header {
    height: 15%; 
}
footer {
    float: bottom;
    position: fixed;
    bottom: 0;
    left: 0;
}*/

body {
    margin: 0px; 
}
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #F5F5F5; 
}

#page-wrap {
/*    height: 91vh;
    width: 98vw;*/
}

#chat-wrap {
   height: 85vh;
    border: 2px solid black;
    margin: 1%;
}


#list-wrap {
/*    float: right; 
    height: 65%;
    width: 32%;*/
    border: 2px solid black;
    margin: 1%;
    text-align: center;
}

#chat-titlu {
/*    height: 8%;
    margin: 1%;*/
    text-align: center;
    color: black;
}

#zona-mesaje {
    height: 80%;
    margin: 2%;
    border: 1px solid black;
    overflow-y: scroll;
}

#zona-trimitere {
/*    position: relative;
    height: 14%;*/
}

textarea { 
    resize : none; 
    vertical-align: central;
}

#casuta {
/*    position: absolute;
    bottom: 0;
    left: 0;

    height: 14%;
*/    width: 90%;/*
    padding: 1%;*/

    text-align: center;
    margin: 3%;
    border: 2px solid black;
    font-size: 16px;
    height: 24px;
}

.selectat {
    text-decoration: underline;
    font-weight: bold 
}
.online {
    color: darkgreen;
}
.offline {
    color: darkgray;
}
.mesaj-nou {
    color: darkorange !important;
    font-weight: bold !important;
}

.mesaj-trimis {
    text-align: right;
    padding-right: 10px;
    color: darkblue;
}

.mesaj-primit {
    text-align: left; 
    padding-left: 10px;
    color: darkgreen;
}
/* unvisited link */
a:link {
    color: lightblue;
}

/* visited link */
a:visited {
    color: lightblue;
}

/* mouse over link */
a:hover {
    color: lightgreen;
}

/* selected link */
a:active {
    color: orange;
}
